<p class="title">
  Hello World Works
</p>

<p>
  {{ name }}
</p>

<p ng-class="female" *ngIf="femaletoggle">
  {{ customer?.name }} is {{ customer?.age }}
</p>

<p ng-class="male" *ngIf="maletoggle">
  {{ customer?.name }} is {{ customer?.age }}
</p>


<input type="text" [value]="customer?.name">

<input type="text" [(ngModel)]="customer.name">

<button (click)="alert(customer.name)">Alert</button>

<button (click)="male()">Male</button>
<button (click)="female()">Female</button>