<!--Testing 123
<app-menu-list 
[list]="menuList"
title="My Menu List"
(loginClicked)="triggerLoginCount($event)"></app-menu-list>
<app-hello-world></app-hello-world>

<p>Login clicked for {{ count }} many times.</p>-->

<!--<pre>
 {{ user | json }}
</pre>

<button (click)="loginWithGoogle()">Login with Google</button>

<button (click)="loginWithFacebook()">Login with Facebook</button>

<button (click)="logoutAll()">Logout All</button>

<p>
    <input type="email" name="" value="" #email>
    <input type="password" name="" value="" #password>
</p>
<p>
<button (click)="loginWithEmail(email.value,password.value)">Login with Email</button>

</p>

<h1 appHightlight="green" >
    {{ 'chris.40' | nameAge: '.'}}
</h1>

<p>
    {{ joke?.joke | uppercase }}
</p>

<pre>
    {{ joke | json }}
</pre>

<input type="text" name="" value="" [(ngModel)]="currentTodo">
<button type="" (click)="addItem(currentTodo)">add</button>

<ul>
    <li *ngFor="let item of todoList">
        <span
        [class.strike]="item.isCompleted"
        >
        {{ item.desc }}</span>
        
        <button type="" *ngIf="!item.isCompleted"
        (click)="markComplete(item)">
            Complete
        </button>
        <button (click)="deleteItem(item)">X</button>
        
    </li>
</ul>

<ul>
    <li><a [routerLink]="['/home']">Home</a>
    </li>
    <li><a [routerLink]="['/customer','chris']"
    [queryParams]="{nickName: 'jelyfish', age: 11}">Customer</a>
    </li>
</ul>-->

<form (ngSubmit)="submitForm(frm.value)" #frm="ngForm">
    <label for="">Name</label>
    <input type="text" name="name" value="" ngModel required #name="ngModel" minlength="2">
    <p *ngIf="name.invalid && name.dirty">Please enter a valid name
        <span></span>
    </p>
    <label for="">Email</label>
    <input type="email" name="email" value="" #email="ngModel" ngModel pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <p *ngIf="email.invalid && email.dirty || frm.submitted">Please enter the valid email address</p>
    <label for="">Comment</label>
    <input type="text" name="comment" value="" ngModel>
    <!--<button type="submit" [disabled]="!frm.valid">Submit</button>-->
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>

<router-outlet></router-outlet>